li {
  list-style-type: none;
}

.container {
  max-width: 1430px;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

header .container {
  position: relative;
}

header .collapse {
  justify-content: center;
}

header .wrap {
  position: relative;
}

header .wrap nav {
  padding: 0;
  background-color: white !important;
  z-index: 1000000;
}

header .wrap nav .navbar-brand {
  padding: 0 !important;
  position: relative !important;
}

@media (max-width: 1199.98px) {
  header .wrap nav .navbar-brand {
    position: relative !important;
    top: 0;
    left: 0;
  }
}

@media (max-width: 991.98px) {
  header .wrap nav .navbar-brand {
    position: absolute !important;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 767.98px) {
  header .wrap nav .navbar-brand {
    left: 35%;
  }
}

@media (max-width: 575.98px) {
  header .wrap nav .navbar-brand {
    left: 41%;
  }
}

@media (max-width: 991.98px) {
  header .wrap .navbar-nav {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 24px;
    max-height: 305px;
    overflow-y: scroll;
  }
}

@media (max-width: 767.98px) {
  header .wrap .navbar-nav {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 24px;
  }
}

@media (max-width: 575.98px) {
  header .wrap .navbar-nav {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
  }
}

header .wrap .navbar-nav .nav-item {
  margin-left: 2%;
  margin-left: 0 !important;
}

@media (max-width: 991.98px) {
  header .wrap .navbar-nav .nav-item:nth-child(6) {
    padding-top: 6px;
  }
}

@media (min-width: 992px) {
  header .wrap .navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
  }
  header .wrap .navbar-nav .nav-item:hover .nav-link::after {
    transform: rotateX(180deg);
  }
}

@media (max-width: 991.98px) {
  header .wrap .navbar-nav .nav-item .dropdown-toggle::after {
    right: 0;
    content: "\f105" !important;
  }
}

header .wrap .navbar-nav .nav-item .dropdown-toggle::after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  border: none;
  font-weight: 900;
  transition: all 0.35s ease-in-out;
  position: absolute;
}

header .wrap .navbar-nav .nav-item .nav-link {
  font-size: 15px;
  text-transform: uppercase;
  color: #333333;
  background-color: transparent !important;
  -webkit-transition: all 0.35s ease-in-out;
  letter-spacing: 0.06em;
  padding: 35px 15px;
  font-weight: 700;
}

@media (max-width: 1199.98px) {
  header .wrap .navbar-nav .nav-item .nav-link {
    padding: 35px 13px !important;
  }
}

@media (max-width: 991.98px) {
  header .wrap .navbar-nav .nav-item .nav-link {
    padding: 13px 0 !important;
  }
}

@media (max-width: 767.98px) {
  header .wrap .navbar-nav .nav-item .nav-link {
    padding: 13px 0 !important;
  }
}

header .wrap .navbar-nav .nav-item .dropdown-toggle {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 600;
  color: #333333;
  background-color: transparent !important;
  -webkit-transition: all 0.35s ease-in-out;
  position: relative;
}

@media (max-width: 1199.98px) {
  header .wrap .navbar-nav .nav-item .dropdown-toggle {
    padding: 35px 13px !important;
  }
}

@media (max-width: 991.98px) {
  header .wrap .navbar-nav .nav-item .dropdown-toggle {
    padding: 13px 0 !important;
    color: #333333;
    background-color: transparent !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    border-bottom: solid 1px #e0e0e0;
  }
}

@media (max-width: 767.98px) {
  header .wrap .navbar-nav .nav-item .dropdown-toggle {
    padding: 13px 0 !important;
    color: #333333;
    background-color: transparent !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    border-bottom: solid 1px #e0e0e0;
  }
}

header .wrap .navbar-nav .nav-item .dropdown-toggle:hover {
  color: #1ebeb6;
}

header .wrap .navbar-nav .nav-item .dropdown-menu {
  border: none !important;
  padding-bottom: 1px;
  padding-top: 0;
  border-radius: 4px;
  -webkit-transition: all 0.35s ease-in-out;
  animation: fadeIn .8s;
  position: absolute;
  top: 86px;
}

@media (max-width: 991.98px) {
  header .wrap .navbar-nav .nav-item .dropdown-menu {
    position: static;
  }
}

header .wrap .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #333333;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 10px;
  border-bottom: solid 1px #f5f5f5;
  -webkit-transition: all 0.35s ease-in-out;
}

header .wrap .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  color: #1ebeb6;
}

@media (max-width: 991.98px) {
  header .wrap .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    padding: 13px 13px !important;
    color: #333333;
    background-color: transparent !important;
    font-weight: 600;
    font-size: 14px;
    border-bottom: solid 1px #f5f5f5;
  }
}

header .page-logo .navbar-toggler {
  border: none !important;
  outline: none;
  font-size: 1.75rem !important;
  padding: 0.25rem 1.75rem !important;
}

header .page-logo .navbar-toggler i {
  color: black !important;
}

@media (max-width: 991.98px) {
  header .page-logo .navbar-toggler {
    display: list-item;
  }
}

@media (max-width: 991.98px) {
  header .page-logo {
    padding: 31px 0;
  }
}

@media (max-width: 575.98px) {
  header .page-logo {
    padding-left: 15px;
  }
}

header .navbar-right ul {
  display: flex;
  margin-bottom: 0 !important;
}

header .navbar-right ul li {
  margin-right: 25px;
}

@media (max-width: 575.98px) {
  header .navbar-right ul li {
    margin-right: 0;
  }
}

header .navbar-right ul li a {
  background-color: white;
  border: 2px solid #ebebeb;
  border-radius: 50%;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 56px;
  position: relative;
}

@media (max-width: 575.98px) {
  header .navbar-right ul li a {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    display: inline-block;
    width: 43px;
    height: 43px;
    text-align: center;
    line-height: 44px;
    position: relative;
  }
}

header .navbar-right ul li a span {
  position: absolute;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: #c40316;
  border-radius: 50%;
  left: -12px;
  line-height: 25px;
  color: white;
  top: 25%;
}

@media (max-width: 575.98px) {
  header .navbar-right ul li a span {
    border: none;
    position: absolute;
    width: 18px;
    height: 18px;
    text-align: center;
    background-color: #c40316;
    border-radius: 50%;
    left: 25px;
    line-height: 19px;
    color: white;
    top: 2%;
    font-size: 14px;
  }
}

header .navbar-right ul li a i {
  font-size: 1.3rem;
  color: #222;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.second-wrap {
  height: 100px;
  background: lightgray;
  justify-content: center;
  align-items: center;
  display: flex;
}

.second-wrap .brands {
  width: 20rem;
  float: left;
  position: relative;
  z-index: 10;
}

@media (max-width: 991.98px) {
  .second-wrap .brands {
    display: none;
  }
}

.second-wrap .brands .brands-btn {
  background: #C40316;
  width: 250px;
  color: #FFFFFF;
  padding: 0.9rem 1.2rem 0.9rem 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
}

.second-wrap .brands ul {
  padding-left: 0;
  position: absolute;
  z-index: 111;
  width: 100%;
  left: 0;
  top: 100%;
  border: 2px solid #ebebeb;
  background: #fff;
  margin-top: 3.1rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.second-wrap .brands ul li {
  background: #FFFFFF;
  padding: 0.6rem 0px 0.6rem 1.2rem;
}

.second-wrap .brands ul li a {
  color: #222222;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.second-wrap .search-container {
  width: 100%;
  margin-left: 8%;
  position: relative;
}

@media (max-width: 767.98px) {
  .second-wrap .search-container {
    margin-left: 2%;
  }
}

.second-wrap .search-container .searchText {
  width: 100%;
  height: 55px;
  -webkit-border-radius: 3px;
  font-size: 1.1rem;
  border: 2px solid #ebebeb;
  z-index: 1;
  outline: none;
  padding-left: 32px;
  color: #222;
}

@media (max-width: 575.98px) {
  .second-wrap .search-container .searchText {
    height: 55px;
    -webkit-border-radius: 3px;
    font-size: 0.8rem;
    border: 2px solid #ebebeb;
    z-index: 1;
    outline: none;
    padding-left: 14px;
    color: #222;
  }
}

.second-wrap .search-container .btn-search {
  position: absolute;
  right: 0;
  top: 0;
}

.second-wrap .search-container .btn-search button {
  background: #C40316;
  border: none !important;
  padding: 0 1rem;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
  text-shadow: none;
  line-height: 3.4rem;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 0;
  font-weight: 400;
  text-transform: capitalize;
}

.second-wrap .search-container .btn-search button i {
  font-size: 0;
}

@media (max-width: 767.98px) {
  .second-wrap .search-container .btn-search button {
    background: #C40316;
    border: none !important;
    padding: 0 0rem;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    letter-spacing: 0;
    font-weight: 400;
    text-transform: capitalize;
    width: 48px;
    height: 55px;
    line-height: 0px;
  }
  .second-wrap .search-container .btn-search button span {
    font-size: 0;
  }
  .second-wrap .search-container .btn-search button span i {
    font-size: 1.4rem;
  }
}

.second-wrap .specials {
  margin-left: 11%;
}

@media (max-width: 575.98px) {
  .second-wrap .specials {
    margin-left: 5%;
  }
}

.second-wrap .specials a {
  float: right;
  width: 18rem;
  text-align: center;
  line-height: 3.4rem;
  background-color: #333;
  color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 4px;
  font-weight: 500;
  text-transform: uppercase;
}

@media (max-width: 1199.98px) {
  .second-wrap .specials a {
    font-size: 0;
    width: 5rem;
    line-height: 0;
    padding: 15px 0;
  }
  .second-wrap .specials a i {
    font-size: 25px;
  }
}

@media (max-width: 575.98px) {
  .second-wrap .specials a {
    font-size: 0;
    width: 3rem;
    line-height: 0;
    padding: 15px 0;
  }
}

.user {
  position: relative;
}

.user ul {
  flex-direction: column;
  position: absolute;
  right: 15%;
  background: white;
  padding: 13px;
  transition: .4s ease-in-out;
  border-bottom: 4px solid #C40316;
  border-top: 1px solid #888;
}

.user ul li {
  padding: 4px 10px;
}

.gallery-area {
  overflow: hidden;
  height: 650px;
}

.gallery-area .single-gallery {
  position: relative;
  overflow: hidden;
}

.gallery-area .single-gallery::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-color: rgba(1, 10, 28, 0.3);
  opacity: 0;
  z-index: 1;
  transition: .4s ease-in-out;
}

.gallery-area .single-gallery:hover::before {
  opacity: 1;
  visibility: visible;
}

.gallery-area .single-gallery .gallery-img {
  transform: scale(1.06);
  transition: .4s ease-in-out;
}

.gallery-area .single-gallery .big-img {
  position: relative;
  height: 690px;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-area .single-gallery .small-img {
  position: relative;
  height: 330px;
  background-size: cover;
  background-repeat: no-repeat;
}

.single-gallery:hover .gallery-img {
  transform: scale(1);
}

.navbar-top {
  border-bottom: 1px solid #ebebeb;
  background: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-top .topbar {
  float: right !important;
}

@media (max-width: 767.98px) {
  .navbar-top .topbar {
    float: none !important;
  }
}

.navbar-top .topbar .dropdown button {
  background: white;
  color: #222;
  outline: none;
  border: none;
  box-shadow: none;
}

@media (max-width: 767.98px) {
  .navbar-top .topbar .dropdown button {
    font-size: 0;
  }
}

.navbar-top .topbar .dropdown .dropdown-menu {
  z-index: 100000000000;
}

.navbar-top .topbar ul {
  margin-bottom: 0 !important;
}

@media (max-width: 767.98px) {
  .navbar-top .topbar ul {
    text-align: center;
  }
}

.navbar-top .topbar ul li {
  display: inline-block;
  margin-right: 15px;
}

.navbar-top .topbar ul li span, .navbar-top .topbar ul li a, .navbar-top .topbar ul li i {
  color: #888;
}

@media (max-width: 767.98px) {
  .navbar-top .topbar ul li {
    margin-right: 0;
  }
  .navbar-top .topbar ul li i {
    font-size: 0.9rem;
  }
  .navbar-top .topbar ul li:nth-child(2) {
    border-left: 2px solid #888;
    border-right: 2px solid #888;
    padding: 0 10px;
  }
  .navbar-top .topbar ul li:nth-child(3) {
    border-right: 2px solid #888;
    padding: 0 12px 0 10px;
  }
  .navbar-top .topbar ul li:nth-child(4) {
    padding-left: 10px;
  }
  .navbar-top .topbar ul li span {
    font-size: 0;
  }
  .navbar-top .topbar ul li span i {
    color: #888;
  }
}

.item .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  position: relative;
}

.item .card h1 {
  font-size: 1.2rem;
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

.item .price {
  color: #C40316;
  font-size: 22px;
}

.item .card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: #222;
  background-color: white;
  text-align: center;
  border: 1px solid #888;
  cursor: pointer;
  width: 70%;
  font-size: 18px;
  border-radius: 5px;
  margin: 15px 0;
  transition: .3s ease-in-out;
}

.item .card button:hover {
  opacity: 0.7;
  color: white;
  background-color: #C40316;
}

.item .hover-showing {
  position: absolute;
  top: 6%;
  left: 6%;
  background-color: white;
}

.item .hover-showing button {
  border: none;
  background-color: white;
  font-size: 2rem;
  color: #C40316;
  box-shadow: none;
  outline: none;
}

.site-guarantees {
  margin-top: 5%;
  padding: 100px 0;
  background-color: ghostwhite;
}

.site-guarantees h1 {
  text-align: center;
  text-transform: uppercase;
}

.site-guarantees .col-md-3 {
  padding: 0 !important;
}

.site-guarantees .icon-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #C40316;
  padding: 30px;
}

.site-guarantees .icon-area i {
  font-size: 3rem;
  color: #C40316;
}

.site-guarantees .icon-area p {
  margin-bottom: 0 !important;
  color: #222;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-top: 15px;
}

.carousel-section {
  margin-top: 2%;
}

@media (max-width: 991.98px) {
  .carousel-section {
    display: block !important;
  }
}

@media (max-width: 991.98px) {
  .carousel-section .row {
    flex-direction: row !important;
    display: flex;
  }
}

/* The sidepanel menu */
.sidepanel {
  height: 754px;
  /* Specify a height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 100000000000;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: white;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.mixedProducts {
  padding: 100px 0;
}

.mixedProducts .head {
  margin-left: 4%;
  margin-bottom: 15px;
}

.mixedProducts .head h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.mixedProducts .head hr {
  float: left;
  width: 60%;
  height: 2p;
  height: 2px;
  background: #C40316;
}

.mixedProducts .product-item {
  padding: 0.8rem;
  border: 1px solid #b2acac7a;
  width: 92%;
  margin-left: 4%;
}

.mixedProducts .product-item .caption {
  width: 100%;
}

.mixedProducts .product-item .caption .inner {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.mixedProducts .product-item .caption .inner a {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #0066c0;
}

.mixedProducts .product-item .caption .inner p {
  font-weight: 500;
  margin: 0;
  font-size: 1.2rem;
  color: #C40316;
  margin-top: 0.7rem;
}

.mixedProducts .product-item .caption .inner .button-group {
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.mixedProducts .product-item .caption .inner .button-group button {
  border: none;
  display: inline-block;
  vertical-align: top;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 2.9rem;
  margin-right: 0.7rem;
  border: 2px solid #ebebeb;
  padding: 0;
  background-color: #fff;
  color: #888;
  font-size: 1.3rem;
  font-weight: normal;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  outline: none;
  box-shadow: none;
}

.mixedProducts .product-item .caption .inner .button-group button:hover {
  background-color: #C40316;
  color: white;
}

.storeAdvantage {
  padding: 60px 0;
}

.bestsellers, .newProduct {
  padding: 110px 0;
}

.section-heading h1 {
  font-size: 2.2rem;
  font-weight: 500;
}

.section-heading hr {
  background-color: #C40316;
  width: 180px;
  height: 2px;
  margin-bottom: 35px;
}
