.carousel-section{
    margin-top: 2%;
    @include lg{
      display: block!important;
    }
    .row{
      @include lg{
        flex-direction: row!important;
        display: flex;
      }
    }
  }