.mixedProducts{
    padding: 100px 0;
    .head{
        margin-left: 4%;
        margin-bottom: 15px;
        h2{
            font-size: 1.5rem;
            font-weight: 500;
            @include lg{
                margin-top: 50px;
            }
        }
        hr{
          float: left;
          width: 60%;
          height: 2px;
          background: #A95C00;
          padding: 0;
          margin: 5px 0 10px 0;
        }
    }
    .product-item{
        padding: 0.8rem;
        border: 1px solid #b2acac7a;
        width: 92%;
        margin-left: 4%;
        transition: all 300ms ease-in-out;
        &:hover{
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, .145) !important;
            transition: all 300ms ease-in-out;
        }
        .caption{
            width: 100%;
            .inner{
              width: 100%;
              height: 100%;
              align-items: center;
              justify-content: space-between;
              a{
                  font-weight: 400;
                  text-transform: capitalize;
                  font-size: 1.2rem;
                  color: #0066c0;
              }
              p{
                  font-weight: 500;
                  margin: 0;
                  font-size: 1.2rem;
                  color: #A95C00;
                  margin-top: 0.7rem;
              }
              .button-group{
                  opacity: 0;
                  transition: all 300ms ease-in-out;
                  button{
                      border: none;
                      display: inline-block;
                      vertical-align: top;
                      width: 3.5rem;
                      height: 3.5rem;
                      line-height: 2.9rem;
                      margin-right: 0.7rem;
                      border: 2px solid #ebebeb;
                      padding: 0;
                      background-color: #fff;
                      color: #888;
                      font-size: 1.3rem;
                      font-weight: normal;
                      border-radius: 5px;
                      -webkit-border-radius: 3px;
                      outline: none;
                      box-shadow: none;
                      &:hover{
                          background-color: #A95C00;
                          color: white;
                          transition: .4s ease-in-out;
                      }
                   }
              }
              
          }
        }
        
    }
}