.product-details-gallery{
    margin-top: 3%;
    border-top: 1px solid #dbcdcd;
    padding: 20px 0 30px 0;
    .product-details{
        margin-top: 7%;
        .plus-minus-input {
            align-items: center;
          
            .input-group-field {
              text-align: center;
              margin-left: 0.5rem;
              margin-right: 0.5rem;
              width: 45px;
              height: 45px;
              background-color: white;
              border: 2px solid #A95C00;
          
              &::-webkit-inner-spin-button,
              ::-webkit-outer-spin-button {
                appearance: none;
              }
            }
          
            .input-group-button {
                background-color: white;
              .circle {
                border: 2px solid #A95C00;
                border-radius: 50%;
                line-height: 32px;
                width: 40px;
                height: 40px;
                text-align: center;
                background-color: white;
                i{
                    color: #A95C00;
                }
              }
            }
          }
          
    }
    .product-image-gallery {
        background-color: white;
        padding: 1.5rem;
    
        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            cursor: pointer;
            li{
                &:hover{
                    opacity: 0.8;
                }
            }
        }
        .pdp-product-image {
            margin-bottom: 20px;
            border: 1px solid #888;
            transition: all .5s ease-in-out;
          }
          .product-thumbs {
        
            a {
              margin-left: 8px;
              margin-right: 8px;
              padding: 0 !important;
              
              img {
                @include sm;
                border-radius: 3px;
                width: 50px;
                height: 50px;
                border: none;
              }
            }
          }
      }
}
.product-spec{
    margin-bottom: 60px;
}
