@import '../scss/mixins';
@import '../scss/base';

@import '../scss/partials/header';
@import '../scss/partials/galleryArea';
@import '../scss/partials/navbarTop';
@import '../scss/partials/productItem';
@import '../scss/partials/siteGuarantees';
@import '../scss/partials/carouselSection';
@import '../scss/partials/footer';
@import '../scss/partials/productDetail';
@import '../scss/partials/mixedProducts';
@import '../scss/partials/storeAdvantages';
@import '../scss/partials/filterSection';


.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 104000000;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

table{
    padding: 60px 0!important;
    img{
        width: 110px;
        height: 110px;
    }
}
#content{
    padding: 60px 0;
}

.plus-minus-input {
    align-items: center;
  
    .input-group-field {
      text-align: center;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      width: 45px;
      height: 45px;
      background-color: white;
      border: 2px solid #A95C00;
  
      &::-webkit-inner-spin-button,
      ::-webkit-outer-spin-button {
        appearance: none;
      }
    }
  
    .input-group-button {
        background-color: white;
      .circle {
        border: 2px solid #A95C00;
        border-radius: 50%;
        line-height: 32px;
        width: 40px;
        height: 40px;
        text-align: center;
        background-color: white;
        i{
            color: #A95C00;
        }
      }
    }
  }


  .container-fluid{
    p { 
      color: #6c757d;
    } 
    a { 
      text-decoration: none; 
      color: #A95C00; 
    } 
    a:hover{ 
      text-decoration: none; 
      color: #A95C00; 
    }
     h2{ 
       color: #A95C00; 
       font-size: 1.5rem; 
     } 
     .main_cart { 
       background: #fff;
       } 
       .card { 
         border: none; 
        } 
       .product_img img { 
         min-width: 200px; 
        max-height: 200px;
       } 
       .product_name { 
         color: black; 
         font-size: 1.4rem; 
         text-transform: capitalize; 
         font-weight: 500; 
        } 
       .card-title p { 
         font-size: 0.9rem; 
         font-weight: 500; 
        } 
       .remove-and-wish p { 
         font-size: 0.8rem; 
         margin-bottom: 0; 
        } 
       .price-money h3 { 
         font-size: 1rem; 
         font-weight: 600; 
        } 
       .set_quantity { 
         position: relative; 
        } 
       .page-link { 
       line-height: 16px; 
       width: 45px; 
       font-size: 1rem; 
       display: flex; 
       justify-content: center; 
       align-items: center; 
       color: #495057; 
      } 
      .page-item input { 
        line-height: 22px; 
        padding: 3px; 
        font-size: 15px; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        text-align: center; 
      } 
      .page-link:hover { 
        text-decoration: none; 
        color: #495057; 
        outline: none !important; 
      } 
      .page-link:focus { 
        box-shadow: none; 
      } 
      .price_indiv p { 
        font-size: 1.1rem; 
      } 
      .fa-heart:hover { 
        color: red; 
      }

  }











  
  
  
  


  
  

 