@import '../scss/mixins';
@import '../scss/base';

@import '../scss/partials/header';
@import '../scss/partials/galleryArea';
@import '../scss/partials/navbarTop';
@import '../scss/partials/productItem';
@import '../scss/partials/siteGuarantees';
@import '../scss/partials/carouselSection';
@import '../scss/partials/footer';
@import '../scss/partials/productDetail';
@import '../scss/partials/mixedProducts';
@import '../scss/partials/storeAdvantages';
@import '../scss/partials/filterSection';


.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 104000000;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

table{
    padding: 60px 0!important;
    img{
        width: 110px;
        height: 110px;
    }
}
#content{
    padding: 60px 0;
}

.plus-minus-input {
    align-items: center;
  
    .input-group-field {
      text-align: center;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      width: 45px;
      height: 45px;
      background-color: white;
      border: 2px solid #fe4c1c;
  
      &::-webkit-inner-spin-button,
      ::-webkit-outer-spin-button {
        appearance: none;
      }
    }
  
    .input-group-button {
        background-color: white;
      .circle {
        border: 2px solid #fe4c1c;
        border-radius: 50%;
        line-height: 32px;
        width: 40px;
        height: 40px;
        text-align: center;
        background-color: white;
        i{
            color: #fe4c1c;
        }
      }
    }
  }











  
  
  
  


  
  

 